doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    title dddWareS
    link(rel='stylesheet', href='assets/stylesheets/style.css')

  body
    .main
      header
        h1 dddWare
      section.our-projects
        h2 Our projects

        - each project in projects
          article
            h3= project.name
            .picture
              img(src='#{project.picture}', alt='')
            a.download-link(href='#{project.repo}') Download
            ul.technologies
              - for (i = 0; i < project.technos.length; ++i) {
                li= project.technos[i]
              - }
            div!= project.content
// /body
script(src='assets/scripts/script.js')
