doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title dddware
    link(rel='stylesheet', href='assets/stylesheets/style.css')

  body
    .main
      header
        h1
          a(href='https://github.com/#{org}', target="_blank")= org
        nav
          ul
            li: a.active(href="#repositories") Repositories
            li: a(href="#faces") Faces
            li: a(href="#projects") Projects
      section#repositories.active
        h2 Repositories
        .repositories
          - each repo in repos
            article.jumper
              h3= repo.name
              ul.technologies
                - each percentage, language in repo.languages
                  li(class='#{language}', style='width: #{percentage}%', title="#{language} : #{percentage}%")
              a.download-link(href='#{repo.html_url}', target="_blank") Repository
              div.content= repo.description

      section#faces.faces
        h2 Members
        .container
          ul.faces-list
            - each member in members
              li
                .picture
                  img(src='#{member.avatar_url}')
                a.name(href="#{member.html_url}", target="_blank")= member.login

      section#projects.projects
        h2 Projects
        .repositories.large
          - each project in projects
            article.jumper
              h3=  project.name
              progress(value="#{project.completeness}", min=0, max=100)

              ul.tools
                - if (project.hasOwnProperty('tools') && project.tools)
                  - each tool in project.tools
                    li= tool
              div.content!= project.content
             

// /body
script(src='assets/scripts/script.js')
