doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    title dddware
    link(rel='stylesheet', href='assets/stylesheets/style.css')

  body
    .main
      header
        a(href='https://github.com/#{org}')
          h1= org
      section.our-projects
        h2 Our projects
        - each repo in repos
          article
            .preview
              h3= repo.name
              .picture
                img(src='nawak', alt='')
            ul.technologies
              - each percentage, language in repo.languages
                li(class='#{language}', style='width: #{percentage}%', title="#{language} : #{percentage}%")
            a.download-link(href='#{repo.html_url}') Repository
            div.content= repo.description

      section.our-faces
        h2 Our faces
        ul.faces-list
          - each member in members
            li
              .picture
                img(src='#{member.avatar_url}')
              a.name(href="#{member.url}")= member.login

// /body
script(src='assets/scripts/script.js')
