doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    title dddware
    link(rel='stylesheet', href='assets/stylesheets/style.css')

  body
    .main
      header
        h1
          a(href='https://github.com/#{org}')= org
      section.projects
        h2 Repositories
        - each repo in repos
          article
            .preview
              h3= repo.name
              .picture
                img(src='nawak', alt='')
            ul.technologies
              - each percentage, language in repo.languages
                li(class='#{language}', style='width: #{percentage}%', title="#{language} : #{percentage}%")
            a.download-link(href='#{repo.html_url}') Repository
            div.content= repo.description

      section.faces
        .container
          h2 Members
          ul.faces-list
            - each member in members
              li
                .picture
                  img(src='#{member.avatar_url}')
                a.name(href="#{member.url}")= member.login

      section.project
        h2 Project
        .project-list
          - each project in projects
            article
              h3=  project.name
              ul.tools
                - if (project.hasOwnProperty('tools') && project.tools)
                  - each tool in project.tools
                    li= tool
              div.content!= project.content
              progress( value="#{project.completeness}", min=0, max=100)


// /body
script(src='assets/scripts/script.js')
